@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
	  font-family: 'Raleway', sans-serif;
}
header,section{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body{
      overflow-x: hidden; 
}
html {
  scroll-behavior: smooth;
}
nav{
    background-color:white;
    }
	
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}	

section{
overflow-x:hidden;
}
.section1{
	height:90vh;
	width:100%;
	margin-bottom:5rem;
}
@media (min-width: 992px) {
	.img-gradient{
	  position:relative;
	  display:inline-block;
	}

	.img-gradient:after {
	  content:'';
	  position:absolute;
	  left:0; top:0;
	  width:100%; height:100%;
	  display:inline-block;
	  background: linear-gradient(to right, #000 0%,transparent 100%),linear-gradient(to top, #000 0%,transparent 100%);/* W3C */
	}
	.img-gradient img{
	  display:block;
	}

	#hero h1{
	font-weight:700;
	font-size:7rem;
	}
	.button{
	position:absolute;
	top: 400px;
	right: 400px;

	}
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #EA1C2C;
    border-bottom-color: #EA1C2C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 10px;
    z-index: 995;
}

.back-to-top .fa-arrow-alt-circle-up{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #EA1C2C;
    transition: all 0.4s;
}
	
	
.navbar-nav .nav-item .nav-link .dropdown-menu li{
  transition:.5s;
}
.navbar-nav .nav-item .nav-link .dropdown-menu li:checked{
    background:#fff;
}
.navbar-nav .nav-item .dropdown-menu li:nth-child(2n){
	background:#f7f7f7;	
    
}
.navbar-nav .nav-item .dropdown-menu li:hover{
	border: 1px solid black;
}
.navbar .nav-item:hover .dropdown-menu{
    display: block; 
    }
.navbar-brand img{
        width:149.3px;
        height:70px;
    }

/*--------------------------------------------------------------
# Head Section
--------------------------------------------------------------*/
  
.registration-butt{
	background:black; 
	border:5px solid #db0000; 
	padding:0.5rem 1rem;
	color:#EA1C2C;
	transition: 0.5s;
}
.registration-butt:hover{
	background:#EA1C2C;
}

@media (max-width: 992px) {
.img-gradient{
	position:relative;
	
}
.data-small{
	position:absolute;
	top:200px;
	left:50px;
}

	
}

#hero .play-btn {
    width: 80px;
    height: 80px;
    background: radial-gradient(#db0000 100%, rgba(205, 164, 94, 0.4) 0%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
	z-index:2;
}

#hero .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid #db0000;
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}
@media (max-width: 992px) {
    #hero .play-btn {
        margin-top: 30px;
    }
}
@media (max-height: 500px) {
    #hero {
        height: auto;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.gallery{
	padding-bottom:7rem;
}
.section-title h3 {
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EA1C2C;
    font-family: "Poppins", sans-serif;
}
.section-title p {
    font-size: 30px;
    font-weight: 300;
    padding: 0;
	padding-top: 15px;
    line-height: 1px;
    margin: 8px 0 5px 7px;
    letter-spacing: 2px;
    color: #aebdb2;
}
.about-us{
	font-family:var(--Rubik);	
	font-size:0.9em;
    font-weight: 300;
    line-height: 2rem;
	z-index:999;
    letter-spacing: 0.1em;
    color: white;
}
	

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: #EA1C2C;
    margin-top: 110px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 98px;
    }
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #37332a;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .about-img {
    position: relative;
    transition: .5s;
}

.about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #EA1C2C;
    border-top: 5px solid #EA1C2C;
    transition: .5s;
}

.about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 5px solid #EA1C2C;
    border-bottom: 5px solid #EA1C2C;
    transition: .5s;
}

.about .about-img:hover {
    transform: scale(1.03);
}

.about .about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
}
.content{
	color:white;
}
.fa-hand-point-right{
	color: #EA1C2C;
	padding-right:0.2rem;
}

/*--------------------------------------------------------------
# event
--------------------------------------------------------------*/

 .section-title h2 {
    color: #fff;
}

 .container {
    position: relative;
}

.event-item p{
	color:#fff;
}
.event-item .content h3 {
    font-weight: 600;
    font-size: 30px;
}
/*.event-item .content p {
    line-height:2rem;
    font-size: 20px;
}*/

.about-img {
    position: relative;
    transition: .5s;
}

.about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}


.about-img:hover {
    transform: scale(1.03);
}

.about-img:hover::before {
    left: 10px;
    top: 10px;
}

.about-img:hover::after {
    right: 10px;
    bottom: 10px;
}





.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #454035;
    border-bottom: 3px solid #454035;
}

.gallery .gallery-item img {
    object-fit: cover;
    transition: all ease-in-out 0.4s;
    width: 400px;
    height: 300px;
}

.gallery .gallery-item:hover img {
    transform: scale(1.05);
}
/*.content h2,.gallery h2,.speakers .section-title h2{
	font-size: 40px;
    font-weight: 700;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EA1C2C;
    font-family: "Poppins", sans-serif;
}*/
.event-img{
	 transition: .5s;
}
.event-img:hover {
    transform: scale(1.03);
}


@media (max-width: 512px) {
.content h2{
	font-size: 30px;
	
}
}









/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
  #footer{
    background-color: #23232b;
    height:18rem;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  
  }
  
  .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  
  
  }
  
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem;
    
  }
    #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }
  
  
  /*--------------------------------------------------------------
# Speakers
--------------------------------------------------------------*/

.speakers{
	background:#1a1814;
}
.speakers .container {
    position: relative;
}

@media (min-width: 1024px) {
    .speakers {
        background-attachment: fixed;
    }
}

.speakers .speakers-carousel {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
}

.speakers .event-item {
    color: #fff;
}

.speakers .event-item h3{
    font-weight: 600;
    font-size: 26px;
    color: #db0000;
}

.speakers .event-item ul {
    list-style: none;
    padding: 0;
}

.speakers .event-item ul li {
    padding-bottom: 10px;
}

.speakers .event-item ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #db0000;
}

.speakers .event-item p:last-child {
    margin-bottom: 0;
}

.speakers .owl-nav,
.speakers .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.speakers .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.speakers .owl-dot.active {
    background-color: #db0000 !important;
}

@media (min-width: 992px) {
    .speakers .testimonial-item p {
        width: 80%;
    }
}
.event-item img{
	transition:0.5s
}
.event-item img:hover {
    transform: scale(1.03);
}
.about-heading{
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	padding:0.4em 0;
	font-size:3em;
	color:#EA1C2C;
	text-transform:uppercase;
}
	
.sub-heading{
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	padding:0.4em 0;
	font-size:2em;
	color:#EA1C2C;
	text-transform:uppercase;
	letter-spacing:0.09em;
}
.gallery-item{
padding:0;
}	


