@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
body {
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
.progress{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:95vh;
}
.initial{
  background-image: linear-gradient(45deg,#70adb5,#5d54a4);
  background-repeat: no-repeat;
  text-align: left;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 7% 7%;
  height: 90vh;
}
.initial h1
{
  display: inline-block;
  font-size: 8.5vmin;
  font-weight: bolder;
}
.initial .progress{
  margin: 0;

}
.initial h2{
  font-size: 5vmin;
}
.content{
  text-align: center;
  padding: 2% 4%;
  border-radius: 5mm;
}
.text{
  text-align: left;
  display: inline-block;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 4%;
  font-weight: 500;
  padding: 6% 3% 8%;
  bottom: 4%;
  width: 65%;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}
.image
{
  display: inline-block;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  margin-top: 2%;
  margin-bottom: 5%;
  overflow: hidden;
}
p{
  font-size: 0.9em;
  font-family: "Rubik", cursive;
  line-height: 1.5;
}
.card__face--back {
  transition: .5s ease;
  padding-top:  4%;
  padding-left:  4%;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: black;
  transform: rotateY(180deg);
}
.bg-card{
  background-color: #838383;
  width: 300px;
  height: 295px;
  padding-top: 1%;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}
.card__face {
  color: white;
  backface-visibility: hidden;
}
@media only screen and (max-width: 775px) {
  .card {
    left: 5%;
    width: 75%;
  }
  .image{
    display: none;
  }
  .text{
    width: 90%;
    margin-left: 5%;
    margin-right: 3%;
  }
  .progress{
    width:100%;
  }
  .initial{
    padding-top: 35%;
  }
}
.card:hover {
  background-color: black;
  transform: translateX(-100%) rotateY(-180deg);
}
.card {
  background-color: #968c83;
  margin-top: 8%;
  width: 290px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}
.row {
  width: inherit;
  padding-bottom: 2%;
  margin-left:0;
  margin-right: 0;
}
@media only screen and (min-width: 1000px) {
  .r-card {
    left: 50%;
  }

  .l-card {
    left: 12%;
  }


.past .l-card{
    left: 38%;
}
.progress{
  width:60%;
}
.initial{
  padding-top: 15%;
}
}
@media screen and (max-width: 1000px) and (min-width: 775px) {
  .l-card {
    left: 3%;
    width: 75%;
  }
  .r-card{
    left:40%;
  }
  .past .l-card{
    left:30%;
  }
  .image{
    display: none;
  }
  .text{
    width: 90%;
    margin-left: 5%;
    margin-right: 3%;
  }
  .progress{
    width:100%;
  }
  .initial{
    padding-top: 20%;
  }
}
.company {
  width: 90%;
  background-color: white;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: 5%;
  margin-top: 2%;
  padding: 3% 3% ;
}
h1{
  font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 0.4em 0;
    font-size: 3em;
}
