*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header,section{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
body{
      overflow-x: hidden; 
}
html {
  scroll-behavior: smooth;
}
nav{
    background-color:white;
    }
	
	
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1a1814;
    border-top-color: #effad3;
    border-bottom-color: #effad3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}	
	
	
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 10px;
    z-index: 995;
}

.back-to-top .fa-arrow-alt-circle-up{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    color: #effad3;
    transition: all 0.4s;
}

.back-to-top .fa-arrow-alt-circle-up:hover {
   background: #effad3;
    color: green;
}
	
	
	
	
	
	
	
	
.navbar-nav .nav-item .nav-link .dropdown-menu li{
  transition:.5s;
}
.navbar-nav .nav-item .nav-link .dropdown-menu li:checked{
    background:#fff;
}
.navbar-nav .nav-item .dropdown-menu li:nth-child(2n){
	background:#f7f7f7;	
    
}
.navbar-nav .nav-item .dropdown-menu li:hover{
	border: 1px solid black;
}
.navbar .nav-item:hover .dropdown-menu{
    display: block; 
    }
.navbar-brand img{
        width:149.3px;
        height:70px;
    }
.section1   .carousel-item .img-fluid {
  width:100%;
  height:100vh;
}

.section1  .carousel-item a {
  display: block;
  width:90%;
  height: 90%;
}

.section1  .carousel-control-prev {
  color:white;
  margin-left: -.5rem;
  z-index: 10;
}

.section1  .carousel-control-next {
  color:white;
  margin-right: -.5rem;
  z-index: 10;
}

.section1 .carousel-controls a:hover {
  color: 004289;
  z-index: 10;
}

..carousel-control-prev:hover {
  color:red;
}

.carousel-control-next:hover {
  color:red;
}
    
.carousel,.item,.section1 .carousel-inner .active{height:680px;}
.section1 .carousel-inner{height:680px;}

.img-1{
    width:60%;
}

.about p{
line-height:2;
font-size:1.25rem;
}  

.about h2{
font-weight:600;
font-size:2.25rem;
padding:2rem;
border-bottom: 2px solid black;

}  
  
.section1,.section2{
    margin-bottom:6rem;
}
.section3,.section5,.section4{
    margin-bottom:7rem;
}

.

@media (max-width: 768px){
.z{
    height:110px;
    width:110px;
}
}



  #footer{
    background-color: #23232b;
    height:18rem;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  
  }
  
  .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  
  
  }
  
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem;
    
  }
  #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }
  .section-3{
    margin-bottom:12rem;
}
/*
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

/*.section1 .carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.panel {
	top: 7vmin;
    left: -18vmin;
	background:#a8dda8;
	border-radius: 3px;
	padding: 5vmin 5vmin 5vmin 5vmin;
	font-family: var(--Rubik);
  }
.round-img{
    box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px);
}

.box{
    text-align:center;
    border:1px solid rgba(0,0,0,0.3);
    box-shadow:0 0px 0px 0 rgba(0,0,0,0.3);
    border-radius:2px;
    transition:0.4s ease;
    background:white;
  
}
.box:hover{
    transform:translateY(-40px);
    background:#a8dda8;
}

.section4 .carousel-indicators{
    position:absolute;
    right:0;
    bottom:20px!important;
}
@media (max-width: 768px){
.section4 .carousel-indicators{
    position:absolute;
    right:0;
    bottom:-30px!important;
}

.section4 .box{
    height:500px;
} 
} 
.section4 .carousel-indicators li{
    background-color:#a8dda8!important;
}
.section4 .carousel{
    height:500px;
}

.section1 .carousel-control-next-icon, .carousel-control-prev-icon {
    /* Use to adjust size of icons */
    width: 5rem;
    height: 5rem;
}




/*.section5{
   background:#effad3;
}*/
.process-wrapper {
	margin:auto;
	max-width:1080px;
    

 
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
    margin-bottom:2px;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff; 
	background: linear-gradient(to right,#283949 0%,#fff 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:15;
    font-size: 14px;
   
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:46px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #a8dda8;
	border-radius: 4px;
    box-shadow:0 0px 0px 0 rgba(0,0,0,0.7);
    
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:35px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
    margin-bottom:2rem;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(20px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
