*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header,
section {
  overflow-x: hidden;
  overflow-y: hidden;
}
main{
  background: var(--bggradient);
}
html {
  scroll-behavior: smooth;
}
nav{
    background-color:white;
    }
body{
	background-color:9ab3f5;
}
    
.navbar-nav .nav-item .nav-link .dropdown-menu li{
  transition:.5s;
}
.navbar-nav .nav-item .nav-link .dropdown-menu li:checked{
    background:#fff;
}
.navbar-nav .nav-item .dropdown-menu li:nth-child(2n){
	background:#f7f7f7;	
    
}
.navbar-nav .nav-item .dropdown-menu li:hover{
	border: 1px solid black;
}
.navbar .nav-item:hover .dropdown-menu{
    display: block; 
    }
.navbar-brand img{
        width:149.3px;
        height:70px;
    }

.img{
    width:100%;
    height:100vh;
    background:url("imprint_poster.jpg");
    clip-path:circle(200vh at 50% -100vh);
}
.progress-bar-purple {
      background-color: purple !important;
}

  .section-1 .row .col-md-6:last-child {
	position: relative;
  }
  
  .section-1 .panel {
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 0vmin 5vmin 5vmin 5vmin;
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	font-family: var(--Rubik);
	z-index: 2;
  }
  
  .section-1  .panel h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding: 0.4em 0;
	font-size: 3em;
  }
  
  .section-1 .panel p {
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.5);
  }

 .section-2 {
	padding: 2vmin 0vmin;
  }
  
  .section-2 .row .col-md-12 .panel {
     margin-top:4rem;
	background:white;
	border-radius: 3px;
	text-align: left;
	padding:1.5rem 5vmin 5vmin 5vmin;
	box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
	font-family: var(--Rubik);
	z-index: 999;
  }
  .section-2 .row .col-md-12 .panel h1 {
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	padding:0.4em 0;
	font-size: 3em;
    margin:0;
  }
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.815);
	z-index: 9999;
	transition: all 1.5s ease;
  }
  

  .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
   Responsive layout - makes a two column-layout instead of four columns
  @media screen and (max-width: 800px) {
	.column {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }

  #footer{
    background-color: #23232b;
    height:18rem;
  }
  
  .footer-top-left{
    height:12rem;
    background-image: linear-gradient(to bottom right, #283949, #342b2d);
    color:white;
    padding-top:1.8rem;
  }
  
  .footer-top-right{
    padding:1.8rem;
    color:#eef0ef;
  
  }
  
  .dots{
    font-size: 2em;
    position:relative;
    bottom:2.5rem;
  }
  
  .bar{
    font-size:3em;
    color:white;
    position:absolute;
    top:-2.8rem;
    left:2rem;
  
  
  }
  
  .icon{
    font-size: 2em;
    color:white;
    position:absolute;
    top:-1rem;
    
  }
  #copyright{
    background-color: black;
    text-align:center;
    color:grey;
  }

  header{
    height: 500px;
    border: 1px solid grey;
  }

  main {
    width: 100%;
    height:350vh;
  }

  #wrapper {
    position: relative;
    height: 800px;
  }

  .content {
    display: flex;
    height: 300px;
    position: relative;
  }

  .item {
    width: 100%;
    /* height: 600px;*/
    display: flex;
    position: absolute;
    border-bottom-left-radius: 20px;
  }
  #item-1 {
    background-color: white;
    z-index: 5;
    height: 600px;
  }

  #item-2 {
    background-color: white;
    z-index: 4;
    height: 650px;
    /* margin-top: 100px; */
  }
  #item-3 {
    background-color:white;
    z-index: 3;
    height: 700px;
    /* margin-top: 200px; */
  }
    #item-4 {
    background-color: white;
    z-index: 2;
    height: 750px;
    /* margin-top: 200px; */
  }
  
  
  
