.modal-content{
  display: inline-block;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding:2%;
  border: 0;
}
.modal-header{
  font-family: 'Playfair Display', serif;
}
.modal-body{
  font-family: 'Raleway', sans-serif;
}
@keyframes fadeleft {
  0%{
    left: -80%;
  }
  100%{
    left:0;
  }

}
@media only screen and (max-width: 500px) {
  .modal-dialog {
    width:80%;
  }
  #modal2{
    width:100%;
  }
}
.modal{
  animation: fadeleft 1s ease-out ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
}
#login{
  margin-left: 20%;
}
.header
{
  margin-right: 20%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#modal2{
  width: 900px;
}
