@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
body {
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.first-page {
  background-image: url("https://cdn.cjr.org/wp-content/uploads/2019/07/AdobeStock_100000042-e1563305717660-1300x500.jpeg");
  padding: 12% 0;
  font-weight: bolder;
  height: 90vh;
}

.first-page h1 {
  display: inline-block;
  font-weight: lighter;
  color: white;
  font-size: 4.5rem;;
  margin-bottom: 4%;
  border-bottom: solid white 2mm;
}
.navbar {
  padding: 0;
  width: inherit;
}
li{
  font-size: 0.9em;
  font-family: "Rubik", cursive;
  line-height: 1.5;
}
.main h1,.Pre_Heads h1{
  color: black;
  padding-left: 4%;
  padding-right: 4%;
  display: inline-block;
  padding-bottom: 0.4em;
  font-weight: bold;
font-family: 'Raleway', sans-serif;
font-size: 3em;
}

.main {
  padding: 2.5% 1.5% 1.5%;
  border-radius: 5mm;
}

.gsec {
  width: 85%;
  background-color: transparent;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  padding: 5% 0;
  margin-bottom: 0.25%;
  margin-left: auto;
  margin-right: auto;
}

.co {
  width: 85%;
  background-color: transparent;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1% 3% 3%;
  margin-bottom: 0.25%;
}

.wt {
  width: 85%;
  background-color: transparent;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  padding: 5% 3%;
  margin-bottom: 0.25%;
}

.dt {
  width: 85%;
  background-color: transparent;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  padding: 8% 3%;
  margin-bottom: 0.25%;
}
.row {
  width: inherit;
  padding-bottom: 2%;
}

.card {
  background-color: #968c83;
  width: 250px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}

@media only screen and (min-width: 1200px) {
  .r-card {
    left: 50%;
  }

  .l-card {
    left: 20%;
  }
  .m-card{
    left: 27%;
  }
  .dt .l-card{
    left:8%;
  }
  .dt .r-card{
    left: 45%;
  }
  .Pre_Heads h1{
    margin-left:30%;
  }
  .progress{
    width:60%;
  }
}

@media only screen and (max-width: 775px) {
  .card {
    left: 20%;
    width: 75%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  ul{
    width:185px;
    margin-right: 2%;
  }
  .col{
    width:185px;
  }
  .progress{
    width:90%;
  }
  .Pre_Heads h1{
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
  }
  .first-page{
    padding-top: 30%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 775px) {
  .r-card{
    left:50%;
  }
  .l-card{
    left:10%;
  }
  .dt .m-card{
    left:15%;
  }
  .dt .r-card{
    margin-top:4%;
    left:38%;
  }
  .Pre_Heads h1{
    text-align: center;
    margin-left:20%;
  }
  .first-page{
    padding-top: 20%;
  }
  .progress{
    width:80%
  }
}
.card:hover {
  background-color: black;
  transform: translateX(-100%) rotateY(-180deg);
}
.main li
{
  margin-left:  7%;
}
.card__face {
  color: white;
  backface-visibility: hidden;
}
h2
{
  text-align: center;
  padding: 0.4em 0;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;

}
.card__face--back {
  transition: .5s ease;
  width: 100%;
  height: 100%;
  position:absolute;
 padding:5%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: black;
  transform: rotateY(180deg);
}
.bg-card{
  background-color: #838383;
  width: 260px;
  height: 255px;
  padding-top: 1%;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}
.Pre_Heads{
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  color: black;
  background-color: transparent;
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.Pre_Heads h4{
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
  border-bottom: solid #0278ae 1mm;
  border-top: solid #0278ae 1mm;
  border-bottom-left-radius: 5mm;
  border-bottom-right-radius: 5mm;
}
.progress{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
